.pointer{
    position: absolute;
    width: 15px;
    z-index: 100;
    height: 22px;
    pointer-events: none;
    filter: drop-shadow(1px 1px 2px rgba(60,60,60,0.4));

    & svg{
        transform: translate(-5px, -2px);
    }

    & .user-tag{
        width:fit-content;
        border-radius: 10px;
        padding:2.5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        border:0.5px solid white;
        color:white;
        
    }
}